<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer
        v-model="drawer"
        app
        clipped
      >
        <v-list dense>
          <v-list-item
            v-for="item in items"
            :key="item.text"
            link
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-subheader class="mt-4 grey--text text--darken-1">SUBSCRIPTIONS</v-subheader>
          <v-list>
            <v-list-item
              v-for="item in items2"
              :key="item.text"
              link
            >
              <v-list-item-avatar>
                <img
                  :src="`https://randomuser.me/api/portraits/men/${item.picture}.jpg`"
                  alt=""
                >
              </v-list-item-avatar>
              <v-list-item-title v-text="item.text" />
            </v-list-item>
          </v-list>
          <v-list-item
            class="mt-4"
            link
          >
            <v-list-item-action>
              <v-icon color="grey darken-1">mdi-plus-circle-outline</v-icon>
            </v-list-item-action>
            <v-list-item-title class="grey--text text--darken-1">Browse Channels</v-list-item-title>
          </v-list-item>
          <v-list-item link>
            <v-list-item-action>
              <v-icon color="grey darken-1">mdi-settings</v-icon>
            </v-list-item-action>
            <v-list-item-title class="grey--text text--darken-1">Manage Subscriptions</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar 
        app 
        clipped-left
        color="orange accent-2"
        dark
        absolute
      >
        <v-btn class="ma-2" icon dark v-if="$vuetify.breakpoint.xs">
          <v-icon dark left>mdi-arrow-left</v-icon>
        </v-btn>
        <v-row no-gutters>
          <v-col cols='2'></v-col>
          <v-col cols='2'>
           <v-btn icon>
             <v-icon>mdi-book-outline</v-icon>
           </v-btn>
          </v-col>
          <v-col cols='5'>
           
          </v-col>
          <v-col cols='3'>
            <v-btn icon>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-bell</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-settings-outline</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-app-bar>
    
      <!-- Sizes your content based upon application components -->
      <v-content class="grey lighten-5">
    
        <!-- Provides the application the proper gutter -->
        <v-container fluid  class="py-0" height="100%">
          <v-row
            justify="center"
            align="center"
            no-gutters
            height="100%"
          >
            <v-card flat height="100%">
              <v-card-text>
                <v-list two-line>
                  <v-list-item-group
                    v-model="selected"
                    multiple
                    active-class="pink--text"
                  >
                    <template v-for="(item, index) in books">
                      <v-list-item :key="item.title">
                        <template v-slot:default="{ active, toggle }">
                          <v-list-item-avatar tile>
                            <v-img :src="item.image"></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title v-text="item.title"></v-list-item-title>
                            <v-list-item-subtitle v-text="item.author"></v-list-item-subtitle>
                          </v-list-item-content>
            
                          <v-list-item-action>
                            <v-icon
                              v-if="!active"
                              color="grey lighten-1"
                            >
                              star_border
                            </v-icon>
            
                            <v-icon
                              v-else
                              color="yellow"
                            >
                              star
                            </v-icon>
                          </v-list-item-action>
                        </template>
                      </v-list-item>
            
                      <v-divider
                        v-if="index + 1 < items.length"
                        :inset="true"
                        :key="index"
                      ></v-divider>
                    </template>
                  </v-list-item-group>
                </v-list>
              </v-card-text>
              
            </v-card>
          </v-row>
        </v-container>
      </v-content>
    
      <v-footer app>
      </v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        page: 1, 
        books: [
          {
            title: "一九八四年",
            author: "Orwell,George／著 高橋和久／翻訳 オーウェルジョージ／著",
            image: "https://cover.openbd.jp/9784151200533.jpg"
          },
          {
            title: "おにぎりレシピ101",
            author: "山田玲子／著 水野菜生／英訳",
            image: "https://cover.openbd.jp/9784780802047.jpg"
          },
          {
            title: "動物農場〔新訳版〕",
            author: "ジョージ・オーウェル／著 山形浩生／翻訳",
            image: "https://cover.openbd.jp/9784151200878.jpg"
          },
          
        ],
        selected: [2],
        drawer: null,
      items: [
        { icon: 'trending_up', text: 'Most Popular' },
        { icon: 'subscriptions', text: 'Subscriptions' },
        { icon: 'history', text: 'History' },
        { icon: 'featured_play_list', text: 'Playlists' },
        { icon: 'watch_later', text: 'Watch Later' },
      ],
      items2: [
        { picture: 28, text: 'Joseph' },
        { picture: 38, text: 'Apple' },
        { picture: 48, text: 'Xbox Ahoy' },
        { picture: 58, text: 'Nokia' },
        { picture: 78, text: 'MKBHD' },
      ],
      },
      created () {
        this.$vuetify.theme.dark = true
      },
    })
  </script>
</body>
</html>